.card {
    border: solid 1px #bdc1c5;
    background: rgba(220, 221, 223, 0.911);
    margin:5px !important; 
    min-width: 150px;
    width: 95%;
    box-shadow: 1px 1px 1px #888888;
}
.ant-tabs-nav .ant-tabs-tab {
    padding: 10px !important;
    margin: 0px !important;
}
.ant-tabs-bar {
    margin-bottom: 0 !important;
}
.mac-container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap:wrap;
    padding: 8px !important;
}
.ant-badge-status {
    padding-left: 5px !important;
}
.state-off .ant-badge-status-processing:after{
    border:1px solid  rgb(245, 72, 66) !important;
}
.state-on .ant-badge-status-processing{
    background: rgb(12, 160, 12) !important;
    height: 10px !important;
    width: 10px !important;
}
.state-off .ant-badge-status-processing{
    background: rgb(245, 72, 66) !important;
    height: 10px !important;
    width: 10px !important;
}
.mac-container .mitem {
    flex-grow:1; /* default 0 */
    width: 35%;
    min-width: 35px;
    border:0;
    border-bottom:1px solid #1890ff;
    background: transparent;
    vertical-align: middle;
}
select {
    outline:0px;
    width: 65%;
    background: transparent;
    border:0;
    border-bottom:1px solid #0fa12f;
}

.mac-container .mitem :nth-child(odd)
{
    border-left:1px solid #1890ff;
    width: 20% !important;
    
}