p{
    margin-left: 5px;
    padding-top:8px;
    font-weight:bold;
    min-width: 40px;
}
.search-pannel {
  background: rgb(223, 225, 228) ;
    box-shadow: -2px 1px 1px  #d3d1d1;
  }
  input,.ant-select-selection {
      background: rgba(190, 192, 196, 0.8)!important;
  }