.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.hide{
  display: none;
}
.show {
  display: initial;
}
.App-intro {
  font-size: large;
}
.ant-layout-content{
  background: #fff !important;
}
.fullheight, #root{
    display: flex;
    flex-flow: column;
    height: 100%;
}
.loader {
  position: absolute;
  z-index: 9999999;
  background:rgba(15, 15, 15, 0.8);
  opacity: 5;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}
.hidden{
  display: none;
}
.spin {
  position: absolute;
  top:40%;
  left:40%;
  color: #fff;
}
.spin span {
  padding-left: 5px;
}
.container {
  background: rgb(190, 200, 200) !important;
}
.ant-layout-header{
  padding-left: 0px !important;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media screen and (max-width: 1000px) {
  .ant-layout-sider-collapsed, .ant-menu-inline-collapsed, .ant-menu-inline-collapsed {
    display: none;
  }
}